# Maven
target/
**/target/

# IntelliJ IDEA
.idea/
**/.idea/
*.iml

# Environment variables and secrets
.env
*.env
**/application-local.properties

# Logs
*.log

# Operating systems
.DS_Store
Thumbs.db

# Vaadin generated frontend
**/src/main/frontend/generated/
**/node_modules/
**/vite.generated.ts